{% extends 'main/decision.html' %}

{% block title%}Афиша{% endblock %}

{% block head%}
    <div class="homes">
        <h1>{{ title }}</h1>
        <p> Яндекс.Афиша — русскоязычный сервис по просмотру билетов на развлекательные мероприятия: театры, концерты, кино, мюзиклы, шоу и другие события.

Сервис открылся в 2005 году и содержал расписания кино, театров, концертов и выставок. В 2011 году появилась возможность покупать билеты в кино. В 2015-м прошёл полный перезапуск:обновились архитектура, дизайн, партнерская модель и стала доступна покупка билетов на концерты, спектакли, шоу, мюзиклы и детские события.</p>

    </div>
{% endblock %}